body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .dark-mode {
    background-color: #3e4140;
    color: #fff;
  }
  
  .dark-mode .text-content b {
    color: #fff; /* Change color of bold text */
  }
  
  .dark-mode .text-content p {
    color: #fff; /* Change color of paragraphs */
  }